<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="mon-compte.php">Se connecter</a>
        </li>
        <li>
            <a href="facture.php">S'inscrire</a>
        </li>

    </ul>
</div>